{% extends "admin/master.html" %}  {# common/page_base.html extends layout.html #}

{% block body %}
<div class="row">
<div class="col-lg-3 col-md-4 col-xs-6">
    <h3>Invite User</h3>
    {% from "common/form_macros.html" import render_field, render_submit_field %}
    <form action="{{ url_for('user.index_view') }}" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
    
        {{ render_field(form.email, tabindex=240) }}

        {{ render_field(form.role, tabindex=240) }}

        {{ render_submit_field(form.submit, tabindex=280) }}
    </form>
</div>
</div>
{% endblock %}
